	* {
		font-family:sans;
		box-sizing:border-box;
	}
	main {
		max-width:100%;
		margin:auto;
	}
	.soloform {
		border: 3px solid #eee;
		padding:2em;
		margin:2em;
		box-sizing: content-box;
		margin:auto;
		max-width:500px;
	}
	a.btn {
		margin: 1em;
	}
	input, label {
		display:block;
		width:100%;
		margin:auto;
	}
	pre {
		background:#eee;
	}

	footer {
		text-align:center;
	}
	.legend > ul {
	display: grid;
	  height: 100px;
	  grid-template-columns: repeat(6, 1fr);
	  grid-template-rows: 100px;
	}
	.legend  ul{
		list-style-type: none;
	}
	.legend > ul > li ul {
		margin-left:-3em;
	}
